* {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, rgb(17, 17, 17), rgb(44, 44, 44));
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}